h2 {
  grid-area: h2;
}
.slider_container {
  width: 100%;
  grid-area: table;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  display: grid;
  margin: 20px auto;
  padding: 0;
}

.direction-btn {
  position: absolute;
  z-index: 100;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}
.direction-btn:hover {
  background: #181818;
}
.direction-btn img {
  width: 50%;
  pointer-events: none;
}
.direction-btn.left {
  left: 0;
  margin-left: 2%;
}
.direction-btn.right {
  right: 0;
  margin-right: 2%;
}
.slide {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  display: none;
  background: linear-gradient(rgba(3, 235, 100, 0.712), rgba(10, 10, 10, 0.6)),
    url("./55.png") no-repeat center center/cover;
}
.slide.slider_active {
  display: flex;
}
.slider_content img {
  width: 100%;
  height: 400px;
  border-radius: 10%;
  object-fit: cover;
  object-position: center;
}
.slider_content h2 {
  font-size: 24px;
  margin-top: 20px;
}
.slider_content p {
  font-size: 20px;
  margin-top: 10px;
  color: gray;
}

.slider_content {
  text-align: center;
  color: #dfdfdf;
}
.slider_content button {
  font-size: 20px;
  padding: 10px 15px;
  margin-top: 40px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #d1d1d1;
  color: #d1d1d1;
  cursor: pointer;
  min-width: 200px;
  transition: all 1s ease-in-out;
}
.slider_content button a {
  color: #d1d1d1;
}
.slider_content button:hover {
  background-color: #292626;
}
